{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li><br>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-9 ">
            <div class="row">
                {% for item in add %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4>Address:{{forloop.counter}}</h4>
                            <p>Name: {{item.name}}</p>
                            <p>Locality: {{item.locality}}</p>
                            <p>City: {{item.city}}</p>
                            <p>State: {{item.state}}</p>
                            <p>Zipcode: {{item.zipcode}}</p>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}